@import "tailwindcss";
@theme {
    --color-violet:#8b5cf6;
    --color-blue-violet:#743DF5;
    --color-navy-blue: #17255a;
    --color-bright-pink: #f45b69;
    --color-warm-white: #f2f2f2;
    --color-eerie-black: #1b1b1b;
    --color-grey:#F1F1F1;
    --color-dark-grey:#E0E0E0;
}
